<?php use Phalcon\Tag as Tag; ?>

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Blog Tutorial</title>

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Admin Panel</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                    <li><?php echo Phalcon\Tag::linkTo('index', 'Home Page') ?></li>
                    <li><?php echo Phalcon\Tag::linkTo('users', 'Users') ?></li>
                    <li><?php echo Phalcon\Tag::linkTo('signup', 'Add Users') ?></li>
                    <li><?php echo Phalcon\Tag::linkTo('links', 'Insert Links') ?></li>
                  </ul>
                </div>

            </div><!--container flued -->
        </nav><!--nav bar end -->


        <div class="clearfix"></div>

        <div class="container">
            <?php echo $this->getContent() ?>
        </div>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </body>
</html>