<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("acceptvideos/save") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("acceptvideos", "&larr; Go Back")) ?>
    </li>
</ul>

<?php echo $this->getContent() ?>


<div class="row">    

    <div class="col-md-12">

        <h1><span class="label label-primary">Edit Video Details</span></h1>
        <br>

        <input type="hidden" name="id" id="id" value="<?php echo $id ?>" />
                            
        <div class="form-group">
          <label for="categories_id">Category</label>
        <?php echo Tag::select(array("categories_id", $categories, "using" => array("id", "name"), "useDummy" => true)) ?>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
        <?php echo Tag::textField(array("title", "size" => 30, "maxlength" => 70)) ?>
        </div> 
        <div class="form-group">
          <label for="price">Description</label>
        <?php echo Tag::textField(array("description", "size" => 30, "maxlength" => 70, "type" => "number")) ?>
        </div>  
        <div class="form-group">
          <label for="active">Active</label>
        <?php echo Tag::selectStatic(array("active", array('Y'=>'Y','N'=>'N',), "useDummy" => true)) ?>
        </div>        
        <div class="form-group">
          <label for="name"></label>
          <?php echo Tag::submitButton(array("Save", "class" => "btn btn-success")) ?>
        </div>             
        
    </div>

</div>
</form>
<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Description</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td><?php echo Tag::select(array("categories_id", $categories, "using" => array("id", "name"), "useDummy" => true)) ?></td>
            <td><?php echo Tag::textField(array("title", "size" => 30, "maxlength" => 70)) ?></td>
            <td><?php echo Tag::textField(array("description", "size" => 30, "maxlength" => 70, "type" => "number")) ?></td>
            <td><?php echo Tag::selectStatic(array("active", array('Y'=>'Y','N'=>'N',), "useDummy" => true)) ?></td>
        </tr>
    </tbody>
</table>