<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form(array("acceptvideos/create", "autocomplete" => "off")) ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("acceptvideos", "&larr; Go Back")) ?>
    </li>
    <li class="pull-right">
        <?php echo Tag::submitButton(array("Save", "class" => "btn btn-success")) ?>
    </li>
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Create acceptvideos</h2>

    <div class="clearfix">
        <label for="categories_id">Product Type</label>
        <?php echo Tag::select(array("categories_id", $categories, "using" => array("id", "name"), "useDummy" => true)) ?>
    </div>

    <div class="clearfix">
        <label for="name">Name</label>
        <?php echo Tag::textField(array("name", "size" => 24, "maxlength" => 70)) ?>
    </div>

    <div class="clearfix">
        <label for="price">Price</label>
        <?php echo Tag::textField(array("price", "size" => 24, "maxlength" => 70, "type" => "number")) ?>
    </div>

    <div class="clearfix">
        <label for="active">Active</label>
        <?php echo Tag::selectStatic(array("active", array('Y'=>'Y','N'=>'N',), "useDummy" => true)) ?>
    </div>

</div>
</form>
