<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <?php echo Tag::form(array('upload/upload', 'class' => '', 'role' => 'form')) ?>
            <h2 class="form-signin-heading">Upload Video</h2>
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Video Title</label>
              <?php echo Tag::textField(array(
                  'title',
                  'size' => "30",
                  'class' => "form-control",
                  'placeholder' => "Video Title",
              )) ?>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Enter Video URL</label>
              <?php echo Tag::textField(array(
                  'url',
                  'size' => "30",
                  'class' => "form-control",
                  'placeholder' => "Video URL",
              )) ?>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>

