

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Button container */
#toptextall{top: 200px; left: 50px;}
.toptext{ color:#fff; font-family: 'Roboto Condensed', sans-serif; font-size: 46px !important; font-weight: 600;}
.topdown{ color: #e6614f;}
.thumbnail {

padding: 0px !important;
margin-bottom: 0px !important;
line-height: 1.42857143;
background-color: transparent !important;
border: 0px !important;
}

.page-header{}
.logobottom{right: 0px; position: absolute;}
#newsticker-demo { 
width:310px;  
padding:5px 5px 0; 
font-family:Verdana,Arial,Sans-Serif;
font-size:12px;
margin:20px auto;
}

#newsticker-demo a { text-decoration:none; }
#newsticker-demo img { }

#newsticker-demo .title {
text-align:center;
font-size:14px;
font-weight:bold;
padding:5px;
}

.newsticker-jcarousellite { width:300px; }
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:left; width:250px; height: 125px; }
.newsticker-jcarousellite .info {}
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#E6614F; }
.info{position: relative; width: 250px; background-color: rgba(0, 0, 0, 0.6); top:-185px; height: 50px; color: #ccc;}
.thumbnail.info{}
.clear { clear: both; }

.progress-button {
  
  display: inline-block;
  text-align: center;
  min-width: 250px;
  margin: 10px;
  position: absolute;
  right: 300px;
  top:0px;

  
}

/* Button style */
.progress-button button {
  
  margin: 0 auto;
  padding: 0;
  width: 200px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 40px;
  background: transparent;
  color: #fff;
  letter-spacing: 1px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
  transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.progress-button button:hover {
  background-color: #eb515c;
  color: #fff;
}

.progress-button button:focus {
  outline: none;
}


.row{
  margin: 0px !important;
}


.fontstyle{
    font-size: 1.1em;
}


.fontstyle2{

  border-bottom: 1px solid #323949;margin-bottom: 15px;padding-bottom: 20px;
}

.navbar {
        min-height: 60px;
        }
.navbar-inverse{

        background: #823047; /* Old browsers */
        background: -moz-linear-gradient(left,  #823047 0%, #f9665e 55%, #f6675f 68%, #f0565e 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#823047), color-stop(55%,#f9665e), color-stop(68%,#f6675f), color-stop(100%,#f0565e)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* IE10+ */
        background: linear-gradient(to right,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#823047', endColorstr='#f0565e',GradientType=1 ); /* IE6-9 */

        }
.navbar-inverse {
        background-color: transparent;
        border-color: transparent;
        }


/* scroll bar */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: rgb(249,102,94); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

/* scroll bar ends */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0px;

}


.full {
  background: url("../img/background.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-height: 600px;
}
.fullsub {
  background: url("../img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar{
height: 60px;
}

.navbar-inverse {
background-color:none;
border-color:none;
}

a.nav-expander {
  background: none repeat scroll 0 0 #19070c;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-left: 0;
  padding: 0.5em 1.6em 2em;
  position: fixed;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 60px;
  transition: left 0.3s ease-in-out 0s;
  width: 60px;
  z-index: 12;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-right_more {
background: none repeat scroll 0 0 #19070c;
color: #FFFFFF;
display: block;
font-size: 15px;
font-weight: 400;
height: 40px;
margin-right: 0;
padding: 0.5em 0.75em 2em;
position: absolute;
right: 0;
text-decoration: none;
text-transform: uppercase;
top: 60px;

width: 60px;
z-index: 12;
}

a.nav-right_more:hover{
color: #e6614f;

}
a.nav-expander:hover {
  cursor: pointer;
  text-decoration: none;
  color: #e6614f;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    left: 15em;
}

footer{

width: 100%;
min-height: 70px;
color: #fff;
background-color: #fff;

position:absolute;
bottom: 0px;
right: 0px;
left: 0px;
z-index: 1;
}

.footer{

width: 100% !important;
height: 70px !important;
color: #fff !important;
background-color: #fff !important;

position:relative !important;
bottom: 0px !important;
right: 0px !important;
left: 0px !important;
z-index: 1 !important;
}

/* IE 6 */
* html #footer {
   position:relative;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}

nav {
  background: #19070c;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 60px;
  width: 15em;
  z-index: 2000;
  
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  left: 0;
  top:60px;
}

body.nav-expanded {
  margin-right: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
}

.main-menu {
  padding-top: 1px;
}

.main-menu li {
  
  margin-right: 20px;
  font-size: 0.9em;
  padding: 8px;
}

.main-menu li a {
  color: #fff;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #e6614f;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

#logo{
  margin: 10px;

}

 .social1{
  position: absolute;
  top: 0px;
  margin: 10px;
  right: 250px;
}

.social2{
  position: absolute;
  top: 0px;
  margin: 10px;
  right: 200px;
}

@media (min-width:0px) and (max-width: 992px) {
  .social1 { display:none; }
  .social2 { display:none; }
  .progress-button{right: 50px;}
}

div.social:hover{

  background-image:url(12.png);
}

#footertext{
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  max-width: 200px;
  top:10px;
  position: absolute;
}

#marginptag{

  margin: 0 0 0 !important;
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { .header{height: 600px;} }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { .header{height: 600px;} #backgroundback{top:100px; position: relative;}}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1920px) { .header{height: 900px;} #backgroundback{top:100px; position: relative;}}




@media (max-width: @screen-xs-max) { ... }
@media (min-width: 0px) and (max-width: 768px) { .header{height: 600px;}  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

