<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <?php echo Tag::form(array('session/start', 'class' => '', 'role' => 'form')) ?>
            <h2 class="form-signin-heading">Admin Log in</h2>
            <div class="form-group">
              <label for="exampleInputEmail1">Username/Email</label>
              <?php echo Tag::textField(array(
                'email',
                'size' => "30",
                'class' => "form-control",
                'placeholder' => "Username/Email",
              )) ?>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <?php echo Tag::passwordField(array(
                'password',
                'size' => "30",
                'class' => "form-control",
                'placeholder' => "Password",
              )) ?>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>

    <div class="col-md-4"></div>
</div>
