
<div class="hero-unit">
    <h1>Welcome to Video Admin Panel</h1>

    <p class="bg-primary">Here is the <strong>Admin Panel</strong></p>
    <p class="bg-success">Make sure to select<strong> Category</strong> of the video when it is accepting...</p>
    <p class="bg-info">Here is the <strong>Accepted Videos</strong></p>
    <p class="bg-warning">Here is the <strong>All Videos</strong></p>
    <p class="bg-danger">Here is the <strong>View Profile</strong></p>

</div>

<style>p{padding: 15px;}</style>