<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="login-or-signup">
    <div class="row">

        <div class="span6">
            <div class="page-header">
                <h2>Log In</h2>
            </div>
            <?php echo Tag::form(array('upload/start', 'class' => 'form-inline')) ?>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <?php echo Tag::textField(array(
                                'name',
                                'size' => "30",
                                'class' => "input-xlarge",
                            )) ?>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="age">Age</label>
                        <div class="controls">
                            <?php echo Tag::textField(array(
                                'age',
                                'size' => "30",
                                'class' => "input-xlarge",
                            )) ?>
                        </div>
                    </div>
                    <div class="form-actions">
                        <?php echo Tag::submitButton(array(
                            'Login',
                            'class' => 'btn btn-primary btn-large',
                        )) ?>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="span6">
            <div class="page-header">
                <h2>Upload Video</h2>
            </div>
            <?php echo Tag::form(array('upload/upload', 'class' => 'form-inline')) ?>
                <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="title">Video Title</label>
                        <div class="controls">
                            <?php echo Tag::textField(array(
                                'title',
                                'size' => "30",
                                'class' => "input-xlarge",
                            )) ?>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="url">Video Url</label>
                        <div class="controls">
                            <?php echo Tag::textField(array(
                                'url',
                                'size' => "30",
                                'class' => "input-xlarge",
                            )) ?>
                        </div>
                    </div>
                    <div class="form-actions">
                        <?php echo Tag::submitButton(array(
                            'Upload Video',
                            'class' => 'btn btn-primary btn-large',
                        )) ?>
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>
