<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <div class="span4" align="left">
        <?php echo Tag::form(array("urls/search", "autocomplete" => "off")) ?>
            <p>
            <?php 
            echo Tag::submitButton(array("Search Existing Videos", "class" => "btn btn-primary btn-large")) ?></p>
        </form>
        <?php echo Tag::form(array("urls/search", "autocomplete" => "off")) ?>
            <p>
            <?php 
            echo Tag::linkTo(array("urls/new", "Add new video", "class" => "btn btn-primary btn-large")) ?>
            </p>
        </form>
    </div>
    <div class="span4">
    </div>
    <div class="span4">
    </div>
</div>
