<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Video</h1>
        <p>Video is a revolutionary application to create invoices online for free.
    Receive online payments from your clients and improve your cash flow.</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <h2>Manage Invoices Online</h2>
        <p>Create, track and export your invoices online. Automate recurring invoices and design your own invoice using our invoice template and brand it with your business logo. </p>
    </div>

    
    <div class="col-md-4">
        <h2>Video Urls </h2>
        <p>
        <div class="videolist">
              <ul style="list-style: none;">
            <?php
                if(isset($page->items)){
                    foreach($page->items as $acceptvideos){ ?>

                <li class="size"style="margin-bottom: 5px;">
                  <a href="#" data-toggle="modal" 
                  data-target="#myModal" 
                  data-theVideo="<?php echo $acceptvideos->embed; ?>"
                  data-title="<?php echo $acceptvideos->title; ?>"
                  data-description="<?php echo 'description'; ?>">link</a>
                </li>

              <?php
                } }
              ?>

              </ul>
          </div></p>
    </div>

    <div class="col-md-4">
        <h2>Dashboards And </h2>
        <p>Gain critical insights into how your business is doing. See what sells most, who are your top paying customers and the average time your customers take to pay.</p>
    </div>

</div>

                    

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div>
                <iframe width="100%" height="350" src=""></iframe>
              </div>
              <div id="description" style="margin-top:5px"></div>
            </div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Previous</button>
            <button type="button" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>

    <?php echo $this->tag->javascriptInclude("js/jquery.min.js"); ?>
<script>
      //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
      function autoPlayYouTubeModal(){
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function() {

          var theModal = $(this).data( "target" ),
          videoSRC = $(this).attr( "data-theVideo" ), 

          videoTitle = $(this).attr( "data-title" ), //get data video title
          videoDescription = $(this).attr( "data-description" ), //get data video description
          videoSRCauto = videoSRC+"?autoplay=1" ;
          $(theModal+' iframe').attr('src', videoSRCauto);
          $(theModal+' button.close').click(function () {
              $(theModal+' iframe').attr('src', videoSRC);
          });  

          $('#myModalLabel').text(videoTitle);
          $('#description').text(videoDescription);

        });
      }

      $(document).ready(function(){
          autoPlayYouTubeModal();
      });

    </script>
