<?php use Phalcon\Tag; ?>
<?php echo $this->getContent(); ?>

<?php 
    $basics = Basics::find();
?>
    
    <form action="/phalcon/video/upload/uploadvideo" class="sky-form" method="post">
        <header>Video Submit Form</header>
        
        <fieldset>                  
            <section>
                <label class="input">
                    <i class="icon-append icon-asterisk"></i>
                    <input type="text" placeholder="Video Title" name="title" required>
                    <b class="tooltip tooltip-bottom-right">insert here title of your video</b>
                </label>
            </section>
            
            <section>
                <label class="input">
                    <i class="icon-append icon-globe"></i>
                    <input type="text" placeholder="Video URL" name="url" required>
                    <b class="tooltip tooltip-bottom-right">insert here video url of your video</b>
                </label>
            </section>
            
        </fieldset>
            
        <fieldset>
            <section>
                <label class="textarea">
                    <i class="icon-append icon-comment"></i>
                    <textarea rows="4" name="description" placeholder="Small description" required></textarea>
                    <b class="tooltip tooltip-bottom-right">Put here small description</b>
                </label>
            </section>
        </fieldset>
        

        <footer>
            <button type="submit" class="button">Submit</button>
        </footer>

    </form>


