<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<?php echo Tag::form(array("categories/search", "autocomplete" => "off")) ?>

    <div class="row">    

        <div class="col-md-6">

            <h1><span class="label label-primary">Search Video Categories</span></h1>
            <br>
                                
            <div class="form-group">
              <label for="id">Id</label><br>
            <?php echo Tag::textField(array("id", "size" => 10, "maxlength" => 10, "type" => "number")) ?>
            </div>
            <div class="form-group">
              <label for="name">Name</label><br>
            <?php echo Tag::textField(array("name", "size" => 24, "maxlength" => 70)) ?>
            </div>       
            <div class="form-group">
              <label for="name"></label>
              <?php echo Tag::submitButton(array("Search", "class" => "btn btn-primary")) ?>
            </div>             
            
        </div>

        <div class="col-md-6">
            <h1><span class="label label-success">Add New Category</span></h1>
        <br>
            <?php echo Tag::linkTo(array("categories/new", "Create", "class" => "btn btn-success")) ?>
        </div>

    </div>

</form>
