<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Video Website</a>
        </div>

        <?php echo $this->elements->getMenu() ?>
    </div>
</div>


    <?php echo $this->getContent() ?>


<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div id="footertext">
                    <p id="marginptag">Copyright &copy; 2014 | <a href="www.wearedesigners.net">We are designers.net</a></p>
                    <p>All Right Reserved</p>
                </div>
            </div>
            <div class="col-md-6">
            <?php echo Phalcon\Tag::image(array("img/wearedes.png", "class" => "logobottom")); ?>
            </div>
        </div>
    </div>
</footer>

