<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<!-- Main jumbotron for a primary marketing message or call to action -->
<header>
    <div class="header">
        <div id="top">
           <div class="navbar-header pull-right">
                <a id="nav-expander" class="nav-expander fixed">
                <i class="fa fa-align-justify"></i>
                </a>
            </div>

                    <!--Include your navigation here-->
            <nav>
                <ul class="list-unstyled main-menu" style="margin-left: 10%;">
                  
                  <li style="margin-top: 15px;">
                  <?php echo Tag::linkTo(array("index/index", '<i class="fa fa-home fontstyle"></i> HOME<span class="icon"></span>')); ?></li>
                  <li class="fontstyle2"><?php echo Tag::linkTo(array("session/start/", '<i class="fa fa-power-off fontstyle"></i> ADMIN LOGIN<span class="icon"></span>')); ?></li>

                  <li><?php echo Tag::linkTo(array("index/category/?id=1", '<i class="fa fa-heart-o fontstyle"></i> POPULAR<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=2", '<i class="fa fa-globe fontstyle"></i> TRENDING<span class="icon"></span>')); ?></li>
                  <li class="fontstyle2"><?php echo Tag::linkTo(array("index/category/?id=3", '<i class="fa fa-globe fontstyle"></i> TOP RATED<span class="icon"></span>')); ?></li>

                  <li><?php echo Tag::linkTo(array("index/category/?id=1", '<i class="fa fa-desktop fontstyle"></i> MOVIES<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=2", '<i class="fa fa-music fontstyle"></i> MUSIC<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=3", '<i class="fa fa-gamepad fontstyle"></i> GAMES<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=4", '<i class="fa fa-trophy fontstyle"></i> SPORTS<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=5", '<i class="fa fa-smile-o fontstyle"></i> COMEDY<span class="icon"></span>')); ?></li>
                  <li><?php echo Tag::linkTo(array("index/category/?id=6", '<i class="fa fa-book fontstyle"></i> EDUCATIONAL<span class="icon"></span>')); ?></li>

                  <li><a href="#"><i class="fa fa-suitcase fontstyle"></i> NEWS <span class="icon"></span></a></li>
                </ul>
            </nav>
                <!--END of navigation here-->
                <!--MENU ICON-->

            <div class="container" style="padding-top:100px">

               <div class="row">

                    <?php
                    //if(isset($page->items)){
                        foreach($acceptvideos as $videos){ ?>

                        <a href="#" data-toggle="modal" 
                                                        data-target="#myModal" 
                                                        data-theVideo="<?php echo $videos->embed; ?>"
                                                        data-title="<?php echo $videos->title; ?>"
                                                        data-description="<?php echo ''; ?>">

                            <div class="col-lg-4 col-md-4 portfolio-item">
                                    <img class="img-responsive" src="<?php echo $videos->thumbnail; ?>" />    
                                <h3><?php echo $videos->title; ?></h3>
                                <p></p>
                            </div>

                        </a>

                    <?php
                      } //}
                    ?>      

                </div>
            </div>

        </div>

        <!--TOP navigation here(social links/more)-->  

        <div class="navbar navbar-inverse navbar-fixed-top">      

            <div class="row">
                
                
                <div id="logo">
                 <?php 
                    echo Tag::linkTo("index/index", Tag::image(array("img/logo.png", "alt" => "Photo")));
                 ?>  
                </div>
                             

                <div class="progress-button">
                    <?php echo Tag::linkTo("upload", "<button><span>Submit</span></button>"); ?>
                </div>

                
                <div class="social1">
                <a class="facebook" href="http://www.facebook.com" title="Facebook">
                <?php echo Phalcon\Tag::image(array("img/facebook.png", "style" => "height: 40px;height: 40px;")); ?></a></div>

               

                
                <div class="social2">
                <a class="twitter" href="http://www.twitter.com" title="Twitter">
                <?php echo Phalcon\Tag::image(array("img/twitter.png", "style" => "height: 40px;height: 40px;")); ?></a></div>
                

                <!--END OF TOP NAV-->
            </div>
        </div>
    </div>

</header>

        

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div><iframe width="100%" height="400" src="" style="border:0px !important"></iframe></div>
                <div id="description" style="margin-top:5px"></div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div> -->
        </div>
    </div>
</div>

<?php echo $this->tag->javascriptInclude("js/jquery.min.js"); ?>
<?php echo $this->tag->javascriptInclude("js/main.js"); ?>
<?php echo $this->tag->javascriptInclude("js/bootstrap.js"); ?>
<?php echo $this->tag->javascriptInclude("js/jquery.navgoco.js"); ?>
<?php echo $this->tag->javascriptInclude("js/jcarousellite_1.0.1c4.js"); ?>
<script>
  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlayYouTubeModal(){
    var trigger = $("body").find('[data-toggle="modal"]');
    trigger.click(function() {

      var theModal = $(this).data( "target" ),
      videoSRC = $(this).attr( "data-theVideo" ), 

      videoTitle = $(this).attr( "data-title" ), //get data video title
      videoDescription = $(this).attr( "data-description" ), //get data video description
      videoSRCauto = videoSRC+"?autoplay=1" ;
      $(theModal+' iframe').attr('src', videoSRCauto);
      $(theModal+' button.close').click(function () {
          $(theModal+' iframe').attr('src', videoSRC);
      });  

      $('#myModalLabel').text(videoTitle);
      $('#description').text(videoDescription);

    });
  }

  $(document).ready(function(){
      autoPlayYouTubeModal();
  });

</script>

<script type="text/javascript">
    $(function() {
        $(".newsticker-jcarousellite").jCarouselLite({
        vertical: true,
        hoverPause:true,
        visible: 3,
        auto:500,
        speed:3000
        });
    });
</script>



<script>
    $(document).ready(function(){                       

    //Navigation Menu Slider
    $('#nav-expander').on('click',function(e){
        e.preventDefault();
            $('body').toggleClass('nav-expanded');
        });
            $('#nav-close').on('click',function(e){
        e.preventDefault();
        $('body').removeClass('nav-expanded');
    });


    // Initialize navgoco with default options
    $(".main-menu").navgoco({
        caret: '<span class="caret"></span>',
        accordion: false,
        openClass: 'open',
        save: true,
        cookie: {
        name: 'navgoco',
        expires: false,
        path: '/'
        },
        slide: {
        duration: 300,
        easing: 'swing'
        }
        });
    });
 </script>
