<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<h1><span class="label label-info">Accept or Reject users uploaded temps from here...</span></h1>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo("tempdata/index", "&larr; Go Back") ?>
    </li>
    <li class="pull-right">
        <?php echo Tag::linkTo(array("upload", "Add New Video")) ?>
    </li>
</ul>

<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th colspan="5">Action</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $temps){ ?>
        <tr>
            <td><?php echo $temps->id ?></td>
            <td><?php echo $temps->title ?></td>
            <td><?php echo $temps->url ?></td>
            <?php $state = $temps->state; ?>


            <td width="12%">
            <?php 
                if($state == 3){
                    echo Tag::linkTo(array("tempdata/reject/".$temps->id, '<i class="fa fa-times"></i> Reject', "class" => "btn btn-danger"));
                }else if($state == 1){
                    echo '<h5><span class="label label-warning">Cannot reject</span></h5>';
                }else{
                    echo Tag::linkTo(array("tempdata/reject/".$temps->id, '<i class="fa fa-times"></i> Rejected', "class" => "btn btn-danger", "disabled" =>"disabled"));
                }
             ?>
            </td>
            <td width="12%">
                <?php 
                    if($state == 1){
                        echo Tag::linkTo(array("tempdata/forward/".$temps->id, '<i class="fa fa-check"></i> Accepted', "class" => "btn btn-success", "disabled" =>"disabled"));
                    }else if($state == 2){
                        echo Tag::linkTo(array("tempdata/forward/".$temps->id, '<i class="fa fa-check"></i> Accept', "class" => "btn btn-success"));
                    }else{
                        echo Tag::linkTo(array("tempdata/forward/".$temps->id, '<i class="fa fa-check"></i> Accept', "class" => "btn btn-info"));
                    }
                ?>
            </td>
        </tr>
    <?php }
        } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="6" align="right">
                <div class="btn-group">
                    <?php echo Tag::linkTo(array("tempdata/search", '<i class="fa fa-fast-backward"></i> First', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("tempdata/search?page=".$page->before, '<i class="fa fa-step-backward"></i> Previous', "class" => "btn btn-default ")) ?>
                    <?php echo Tag::linkTo(array("tempdata/search?page=".$page->next, '<i class="fa fa-step-forward"></i> Next', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("tempdata/search?page=".$page->last, '<i class="fa fa-fast-forward"></i> Last', "class" => "btn btn-default")) ?>
                    <div class="btn-group">
                    <button type="button" class="btn btn-warning" disabled="disabled"><?php echo $page->current, "/", $page->total_pages ?></button>
                </div>
                </div>
            </td>
        </tr>
    <tbody>
</table>