<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("urls/new") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("urls/index", "&larr; Go Back")) ?>
    </li>
    <li class="pull-right">
        <?php echo Tag::submitButton(array("Save", "class" => "btn btn-success")) ?>
    </li>
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Add new video</h2>

    <div class="clearfix">
        <label for="title">Name</label>
        <?php echo Tag::textField(array("title", "size" => 24, "maxlength" => 70)) ?>
        <label for="title">URL</label>
        <?php echo Tag::textField(array("url", "size" => 24, "maxlength" => 70)) ?>
    </div>

</div>
</form>
