<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<div class="row">

    <div class="col-md-4 profile">
        <?php echo Tag::form(array('manages/profile', 'id' => 'profileForm', 'onbeforesubmit' => 'return false', 'role' => 'form')) ?>
            <h2 class="form-signin-heading">Admin Log in</h2>
            
            <div class="clearfix">
                <div class="form-group">
                    <label for="name">Admin Full Name:</label>
                    <?php echo Tag::textField(array("name", "size" => "30", "class" => "form-control")) ?>
                    <div class="alert alert-warning" role="alert" id="name_alert">
                        <strong>Warning!</strong> Please enter your full name
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="form-group">
                    <label for="email">Email Address:</label>
                    <?php echo Tag::textField(array("email", "size" => "30", "class" => "form-control")) ?>
                    <div class="alert alert-warning" id="email_alert">
                        <strong>Warning!</strong> Please enter your email
                    </div>
                </div>
            </div>

            
            <div class="clearfix">
                <button type="button" class="btn btn-default" onclick="Profile.validate()">Update</button>
                &nbsp;
                <?php echo Tag::linkTo('manages/index', 'Cancel') ?>
            </div>

        </form>
    </div>

</div>
