<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("tempdata/accept") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("tempdata/search", "&larr; Go Back")) ?>
    </li>
    
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Accept Video</h2>
    
    <input type="hidden" name="id" id="id" value="<?php echo $id ?>" />

    <table class="table table-bordered table-striped" align="center">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td><label for="id">ID</label><?php //echo Tag::textField(array("id", "size" => 24, "maxlength" => 200)) ?></td> -->
                <td><label for="categories_id">Category</label><br><?php echo Tag::select(array("categories_id", $categories, "using" => array("id", "name"), "useDummy" => true)) ?></td>
                <td><label for="title">Title</label><br><?php echo Tag::textField(array("title", "size" => 40, "maxlength" => 200)) ?></td>
                <td><label for="url">URL</label><br><?php echo Tag::textField(array("url", "size" => 40, "maxlength" => 200)) ?></td>
            </tr>
            <tr>
                <td><label for="description">Description</label><br><?php echo Phalcon\Tag::textArea(array("description", "cols" => 40, "rows" => 6)) ?></td>                
                <td><label for="name">Name</label><br><?php echo Tag::textField(array("name", "size" => 40, "maxlength" => 200)) ?></td>
                <td><label for="email">Email</label><br><?php echo Tag::textField(array("email", "size" => 40, "maxlength" => 200)) ?></td>
            </tr>
            <tr>
                <td colspan="3"><?php echo Tag::submitButton(array("Accept", "class" => "btn btn-success")) ?></td>
            </tr>
        </tbody>
    </table>

    </form>
</div>
