<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <h1><span class="label label-primary">Accept or Reject users uploaded videos from here...</span></h1>
    <br>  
    

    <table class="table">
      <tbody>
        
        <tr>
          <td>
          <!-- See new uploaded videos -->
            <?php echo Tag::form(array("tempdata/search", "autocomplete" => "off")) ?>

              <?php //echo Tag::selectStatic(array("state", array(1=>'Y',2=>'N',), "useDummy" => true)) ?>
              <?php echo Phalcon\Tag::hiddenField(array("state", "value" => "3")); ?>

              <?php echo Tag::submitButton(array("Newly Uploaded Videos", "class" => "btn btn-info")) ?>
            </form>
          </td>
          <td class="type-info">see new videos...</td>
        </tr>
        <tr>
          <td>
          <!-- See all accepted videos -->
            <?php echo Tag::form(array("tempdata/search", "autocomplete" => "off")) ?>

              <?php //echo Tag::selectStatic(array("state", array(1=>'Y',2=>'N',), "useDummy" => true)) ?>
              <?php echo Phalcon\Tag::hiddenField(array("state", "value" => "1")); ?>

              <?php echo Tag::submitButton(array("Accepted Videos", "class" => "btn btn-success")) ?>
            </form>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
            <!-- See all rejected videos -->
            <?php echo Tag::form(array("tempdata/search", "autocomplete" => "off")) ?>

              <?php //echo Tag::selectStatic(array("state", array(1=>'Y',2=>'N',), "useDummy" => true)) ?>
              <?php echo Phalcon\Tag::hiddenField(array("state", "value" => "2")); ?>

              <?php echo Tag::submitButton(array("Rejected Videos", "class" => "btn btn-danger")) ?>
            </form>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
          <!-- See all uploaded videos -->
            <?php echo Tag::linkTo(array("tempdata/search", "All Uploaded Videos", "class" => "btn btn-primary")) ?>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
      </tbody>
    </table>

    
</div>

