<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("tempdata/acceptreject") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("tempdata/search", "&larr; Go Back")) ?>
    </li>
    
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Do you need to reject this video?</h2>
    
    <input type="hidden" name="id" id="id" value="<?php echo $id ?>" />

    <table class="table table-bordered table-striped" align="center">

        <tbody>
            <tr>

                <td><?php echo $temps->title; ?></td>
                <td><?php echo $temps->url; ?></td>
                <td><label for="title">Title</label><br><?php echo Tag::hiddenField(array("title", "size" => 40, "maxlength" => 200)) ?></td>
                <td><label for="url">URL</label><br><?php echo Tag::hiddenField(array("url", "size" => 40, "maxlength" => 200)) ?></td>
            </tr>
            <tr>
                <td colspan="3"><?php echo Tag::submitButton(array("Reject", "class" => "btn btn-danger")) ?></td>
            </tr>
        </tbody>
    </table>

    </form>
</div>
