


<div class="hero-unit">
    <h1>Welcome to Video Admin Panel</h1>

    <p>Video is a revolutionary application to create invoices online for free.
    Receive online payments from your clients and improve your cash flow</p>

</div>