<?php use Phalcon\Tag; ?>

<!DOCTYPE html> 
<html>

<head>
        <title>Video Upload</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        
        <?php echo $this->tag->stylesheetLink("css/demo.css"); ?>
        <?php echo $this->tag->stylesheetLink("css/sky-forms.css"); ?>
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="css/sky-forms-ie8.css">
        <![endif]-->
        
        <!--[if lt IE 10]>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="js/jquery.placeholder.min.js"></script>
        <![endif]-->        
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="js/sky-forms-ie8.js"></script>
        <![endif]-->
    </head>
    <body class="bg-pink">
        <div class="body body-s">
        
            <?php echo $this->getContent() ?>
            
        </div>
    </body>

</html>