body {
	margin-top: 60px;
	margin-bottom: 60px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.full {
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
