<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<!-- Main jumbotron for a primary marketing message or call to action -->
<header>
    <div class="header">
        <div id="top">
           <div class="navbar-header pull-right">
                <a id="nav-expander" class="nav-expander fixed">
                <i class="fa fa-align-justify"></i>
                </a>
            </div>

                    <!--Include your navigation here-->
            <nav>
                <ul class="list-unstyled main-menu" style="margin-left: 10%;">
                  
                  <li style="margin-top: 15px;">
                    <a href="#"><i class="fa fa-home fontstyle"></i>  HOME<span class="icon"></span></a></li>
                  <li class="fontstyle2">
                    <a href="#"><i class="fa fa-power-off fontstyle"></i>  SIGN IN <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-heart-o fontstyle"></i>  POPULAR <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-globe fontstyle"></i>  TRENDING <span class="icon"></span></a></li>
                  <li class="fontstyle2">
                    <a href="#"><i class="fa fa-star-o fontstyle"></i>  TOP RATED <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-desktop fontstyle"></i>  MOVIES <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-music fontstyle"></i>  MUSIC <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-gamepad fontstyle"></i> GAMES <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-trophy fontstyle"></i> SPORTS <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-smile-o fontstyle"></i>  COMEDY <span class="icon"></span></a></li>
                  <li class="fontstyle2">
                    <a href="#"><i class="fa fa-book fontstyle"></i> EDUCATIONAL <span class="icon"></span></a></li>
                  <li><a href="#"><i class="fa fa-suitcase fontstyle"></i> NEWS <span class="icon"></span></a></li>
                </ul>

            </nav>
                <!--END of navigation here-->
                <!--MENU ICON-->

                <div id="era">
                    <a class="nav-right_more" style="text-decoration: none;right: 0px;position: fixed;cursor:pointer;">
                    MORE &nbsp;
                    </a>
                </div>

                <div class="row" id="backgroundback" style="background:rgba(0,0,0,.4);">

                    <div class="col-md-8" id="toptextall">
                      
                        <h1 class="toptext">TOP TRENDING</h1>
                        <h3 class="topdown">Most Entertaining Stage Performance</h3>

                    </div>

                    <div class="col-md-4">

                        <div id="newsticker-demo">    
    
                            <div class="newsticker-jcarousellite">
                                <ul>

                                 <?php
                                    if(isset($page->items)){
                                        foreach($page->items as $acceptvideos){ ?>

                                    <li>
                                        <div class="thumbnail">
                                            <img src="<?php echo $acceptvideos->thumbnail; ?>">                                     
                                            <div class="info">
                                                <a href="#" data-toggle="modal" 
                                                data-target="#myModal" 
                                                data-theVideo="<?php echo $acceptvideos->embed; ?>"
                                                data-title="<?php echo $acceptvideos->title; ?>"
                                                data-description="<?php echo 'description'; ?>">
                                                <?php echo $acceptvideos->title; ?></a>
                                                <span class="cat">Category: Illustrations</span>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </li>

                                    <?php
                                      } }
                                    ?>

                                </ul>
                            </div>
    
                        </div>
                        
                    </div>

                </div>
        </div>

        <!--TOP navigation here(social links/more)-->  

        <div class="navbar navbar-inverse navbar-fixed-top">      

            <div class="row">
                
                
                <div id="logo">
                <a href="index.html">
                <?php echo Phalcon\Tag::image(array("img/logo.png", "alt" => "Photo")); ?>
                </a>
                </div>
                             

                <div class="progress-button">
                    <a href="/test2/myvideos_v4.1/upload/"><button><span>Submit</span></button></a>
                </div>

                
                <div class="social1">
                <a class="facebook" href="http://www.facebook.com" title="Facebook">
                <?php echo Phalcon\Tag::image(array("img/1.png", "style" => "height: 40px;height: 40px;")); ?></a></div>

               

                
                <div class="social2">
                <a class="twitter" href="http://www.twitter.com" title="Twitter">
                <?php echo Phalcon\Tag::image(array("img/2.png", "style" => "height: 40px;height: 40px;")); ?></a></div>
                

                <!--END OF TOP NAV-->
            </div>
        </div>
    </div>

</header>

<div class="container" id="videohid" style=" display:none;">

        <div class="row">

            <div class="col-lg-6">
                <center><h1 class="page-header">
                    <small>MOST POPULAR</small>
                </h1></center>
            </div>
            <div class="col-lg-6">
                <center><h1 class="page-header">
                    <small>TOP RATED</small>
                </h1></center>
            </div>

        </div>

        <div class="row">



            <?php
            if(isset($page->items)){
                foreach($page->items as $acceptvideos){ ?>

            <div class="col-lg-6 col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="<?php echo $acceptvideos->thumbnail; ?>" />
                </a>     
                <h3><a href="#project-two"><?php echo $acceptvideos->title; ?></a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>

            <?php
              } }
            ?>      

        </div>

        


        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>
</div>
                       

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div><iframe width="100%" height="350" src=""></iframe></div>
                <div id="description" style="margin-top:5px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<?php echo $this->tag->javascriptInclude("js/jquery.min.js"); ?>
<?php echo $this->tag->javascriptInclude("js/main.js"); ?>
<?php echo $this->tag->javascriptInclude("js/bootstrap.js"); ?>
<?php echo $this->tag->javascriptInclude("js/jquery.navgoco.js"); ?>
<?php echo $this->tag->javascriptInclude("js/jcarousellite_1.0.1c4.js"); ?>
<script>
  //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
  function autoPlayYouTubeModal(){
    var trigger = $("body").find('[data-toggle="modal"]');
    trigger.click(function() {

      var theModal = $(this).data( "target" ),
      videoSRC = $(this).attr( "data-theVideo" ), 

      videoTitle = $(this).attr( "data-title" ), //get data video title
      videoDescription = $(this).attr( "data-description" ), //get data video description
      videoSRCauto = videoSRC+"?autoplay=1" ;
      $(theModal+' iframe').attr('src', videoSRCauto);
      $(theModal+' button.close').click(function () {
          $(theModal+' iframe').attr('src', videoSRC);
      });  

      $('#myModalLabel').text(videoTitle);
      $('#description').text(videoDescription);

    });
  }

  $(document).ready(function(){
      autoPlayYouTubeModal();
  });

</script>

<script type="text/javascript">
    $(function() {
    $(".newsticker-jcarousellite").jCarouselLite({
    vertical: true,
    hoverPause:true,
    visible: 3,
    auto:500,
    speed:3000
    });
    });
</script>


 <script>
    $( "div:visible" ).click(function() {
        $( this ).css( "background","" );
    });
    $( "#era" ).click(function() {
        $( "#videohid:hidden" ).show( "fast" );
    });
</script>

<script>
    $(document).ready(function(){                       

    //Navigation Menu Slider
    $('#nav-expander').on('click',function(e){
        e.preventDefault();
            $('body').toggleClass('nav-expanded');
        });
            $('#nav-close').on('click',function(e){
        e.preventDefault();
        $('body').removeClass('nav-expanded');
    });


    // Initialize navgoco with default options
    $(".main-menu").navgoco({
        caret: '<span class="caret"></span>',
        accordion: false,
        openClass: 'open',
        save: true,
        cookie: {
        name: 'navgoco',
        expires: false,
        path: '/'
        },
        slide: {
        duration: 300,
        easing: 'swing'
        }
        });
    });
 </script>
