<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div align="right">
    <?php echo Tag::linkTo(array("urls/new", "Create Product types", "class" => "btn btn-primary")) ?>
</div>

<?php echo Tag::form(array("urls/search", "autocomplete" => "off")) ?>

<div class="center scaffold">

    <h2>Search product types</h2>


    <div class="clearfix">
        <?php echo Tag::submitButton(array("Search", "class" => "btn btn-primary")) ?></td>
    </div>


</div>


<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $videos){ ?>
        <tr>
            <td><?php echo $videos->id ?></td>
            <td><?php echo $videos->title ?></td>
            <td><?php echo $videos->url ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("urls/edit/".$videos->id, '<i class="icon-pencil"></i> Edit', "class" => "btn")) ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("urls/delete/".$videos->id, '<i class="icon-remove"></i> Delete', "class" => "btn")) ?></td>
        </tr>
    <?php }
        } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="4" align="right">
                <div class="btn-group">
                    <?php echo Tag::linkTo(array("urls/search", '<i class="icon-fast-backward"></i> First', "class" => "btn")) ?>
                    <?php echo Tag::linkTo(array("urls/search?page=".$page->before, '<i class="icon-step-backward"></i> Previous', "class" => "btn ")) ?>
                    <?php echo Tag::linkTo(array("urls/search?page=".$page->next, '<i class="icon-step-forward"></i> Next', "class" => "btn")) ?>
                    <?php echo Tag::linkTo(array("urls/search?page=".$page->last, '<i class="icon-fast-forward"></i> Last', "class" => "btn")) ?>
                    <span class="help-inline"><?php echo $page->current, "/", $page->total_pages ?></span>
                </div>
            </td>
        </tr>
    <tbody>
</table>