<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">

    <div class="col-md-4" align="left">
        <br>
        <p class="bg-info"><strong>Search video for the manage perpose</strong>
            <?php echo Tag::form(array("urls/search", "autocomplete" => "off")) ?>
                <div class="btn-group">
                    <button type="submit" class="btn btn-info btn-large">Search</button>
                </div>
            </form>
        </p>

        <p class="bg-danger"><strong>Add New videos from using this</strong></p>
        <?php 
            echo Tag::linkTo(array("urls/new", "Add new video", "class" => "btn btn-danger btn-large")) 
        ?> 


    </div>

</div>

<style>p{padding: 15px;}</style>