<?php use Phalcon\Tag; ?>

<?php 

	$links = Links::find();
	// Prints "Bender"
	//echo $robot->name;
?>




<div class="row">
	<div class="col-md-4">
		<h2>Add Url using this form</h2>
		<form role="form" action="/phalcon/mongo/links/register" method="post">
			 <div class="form-group">
			    <label for="title">Title</label>
			    <input type="text" class="form-control"placeholder="Enter Name" name="title" />
			 </div>

			 <div class="form-group">
			    <label for="link">Link</label>
			    <input type="text" class="form-control"placeholder="Enter Age" name="link" />
			</div>

			 <div class="form-group">
			    <input type="submit" class="btn btn-default" value="Register" />
			 </div>

		</form>
	</div>

	<div class="col-md-4">
		<h2>Current Links And Titles...</h2>
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Link Name Title</div>
			<table class="table">
				<?php
					foreach ($links as $link) {
				?>

				<tr>
					<td><?php echo $link->title; ?></td>
					<td><?php echo $link->link; ?></td>
				</tr>
				<?php
				}
				?>
			</table>
		</div>
	</div>

</div>

