<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("categories/create") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("categories", "&larr; Go Back")) ?>
    </li>
    <li class="pull-right">
        <?php echo Tag::submitButton(array("Save", "class" => "btn btn-success")) ?>
    </li>
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Create Video Category</h2>

    <div class="clearfix">
        <label for="name">Name</label>
        <?php echo Tag::textField(array("name", "size" => 24, "maxlength" => 70)) ?>
    </div>

</div>
</form>
