<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <h1><span class="label label-primary">Manage all accepted videos from here...</span></h1>
    <br>  
    

    <table class="table">
      <tbody>
        <tr>
          <td>
            <?php echo Tag::linkTo(array("manages/manipulate", "See All Uploaded Videos", "class" => "btn btn-info")) ?>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
          <?php echo Tag::linkTo(array("#", "See All Uploaded Videos", "class" => "btn btn-success")) ?>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
          <?php echo Tag::linkTo(array("#", "See All Uploaded Videos", "class" => "btn btn-danger")) ?>
		    </form>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
      </tbody>
    </table>
    
</div>

