<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">

    <div class="col-md-4" align="left">
        <br>
        <?php echo Tag::form(array("urls/search", "autocomplete" => "off")) ?>
            <div class="btn-group">
                <button type="submit" class="btn btn-default">Search</button>
            </div>
        </form>


            <div class="btn-group">
                <button type="submit" class="btn btn-default">Add new</button>
            </div>
            <?php 
            echo Tag::linkTo(array("urls/new", "Add new video", "class" => "btn btn-primary btn-large")) ?>

    </div>

</div>
