
<div class="hero-unit">
    <h1>Welcome to Video Admin Panel</h1>

    <p class="bg-primary">Here is the <strong>Admin Panel</strong></p>
    <p class="bg-success">Here is the <strong>Manage Videos</strong></p>
  	<p class="bg-info">Here is the <strong>Accepted Videos</strong></p>
  	<p class="bg-warning">Here is the <strong>All Videos</strong></p>
  	<p class="bg-danger">Here is the <strong>View Profile</strong></p>

</div>

<style>p{padding: 15px;}</style>