<?php use Phalcon\Tag; ?>
<?php echo $this->getContent(); 

    $basics = Basics::find();
?>

<!--**********************************************
                       Video Flow
************************************************-->  
    <div class="videolist" style="margin-top: 10%;position: absolute;right: 10%;">
      <ul style="list-style: none;">
        
        <?php
            foreach ($basics as $basic_data) {
        ?>
        
        <li class="size"style="margin-bottom: 5px;">
          <a href="#" data-toggle="modal" data-target="#myModal" 
              data-theVideo="<?php echo $basic_data->embed; ?>"
              data-title="<?php echo $basic_data->title; ?>"
              ><img src="img/1.jpg" /></a>
        </li>

        <?php
         }
        ?>

      </ul>
    </div>

    <div class="content" style="top: 50%;position: absolute;">
      
      <h1 style="color: white;">TOP TRENDING</h1>
      <h3 style="color: #e6614f;">Most Entertaining Stage Performance</h3>

    </div>
    <!--end of video flow-->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
              <div>
                <iframe width="100%" height="350" src=""></iframe>
              </div>
            </div>
            <div class="modal-footer">

            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Previous</button>
            <button type="button" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
    </div>

    <?php echo $this->tag->javascriptInclude("js/jquery.min.js"); ?>

    <script>
      //FUNCTION TO GET AND AUTO PLAY YOUTUBE VIDEO FROM DATATAG
      function autoPlayYouTubeModal(){
        var trigger = $("body").find('[data-toggle="modal"]');
        trigger.click(function() {

          var theModal = $(this).data( "target" ),
          videoSRC = $(this).attr( "data-theVideo" ), 

          videoTitle = $(this).attr( "data-title" ), //get data video title
          videoSRCauto = videoSRC+"?autoplay=1" ;
          $(theModal+' iframe').attr('src', videoSRCauto);
          $(theModal+' button.close').click(function () {
              $(theModal+' iframe').attr('src', videoSRC);
          });  

          $('#myModalLabel').text(videoTitle);

        });
      }

      $(document).ready(function(){
          autoPlayYouTubeModal();
      });

    </script>

<?php 

echo Phalcon\Tag::linkTo("viewdb", "View Video Details!");

