<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>
<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $acceptvideos){ ?>
        <tr>
            <td><?php echo $acceptvideos->id ?></td>
            <td><?php echo $acceptvideos->title ?></td>
            <td><?php echo $acceptvideos->url ?></td>
        </tr>
    <?php }
        } ?>
    </tbody>
</table>