

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.navbar {
  min-height: 60px;
}
.navbar-inverse{

  background: #823047; /* Old browsers */
  background: -moz-linear-gradient(left,  #823047 0%, #f9665e 55%, #f6675f 68%, #f0565e 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, right top, color-stop(0%,#823047), color-stop(55%,#f9665e), color-stop(68%,#f6675f), color-stop(100%,#f0565e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* IE10+ */
  background: linear-gradient(to right,  #823047 0%,#f9665e 55%,#f6675f 68%,#f0565e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#823047', endColorstr='#f0565e',GradientType=1 ); /* IE6-9 */

}
.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}



.full {
  background: url("../img/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fullsub {
  background: url("../img/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.navbar{
background-image: "img/header.png";
}

.navbar-inverse {
background-color:none;
border-color:none;
}

a.nav-expander {
  background: none repeat scroll 0 0 #19070c;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  font-weight: 400;
  height: 40px;
  margin-left: 0;
  padding: 0.5em 1.6em 2em;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 60px;
  transition: left 0.3s ease-in-out 0s;
  width: 60px;
  z-index: 12;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}

a.nav-right_more {
background: none repeat scroll 0 0 #19070c;
color: #FFFFFF;
display: block;
font-size: 15px;
font-weight: 400;
height: 40px;
margin-right: 0;
padding: 0.5em 0.75em 2em;
position: absolute;
right: 0;
text-decoration: none;
text-transform: uppercase;
top: 60px;

width: 60px;
z-index: 12;
}


a.nav-expander:hover {
  cursor: pointer;
  text-decoration: none;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    left: 15em;
}

footer{

width: 100%;
color: #fff;
background-color: #fff;
height: 60px;
position: fixed;
bottom: 0px;


right: 0;
left: 0;
z-index: 9999;
}

nav {
  background: #19070c;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 60px;
  width: 15em;
  z-index: 2000;
  
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  left: 0;
  top:60px;
}

body.nav-expanded {
  margin-right: 0em;
  transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
}

.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-right: 20px;
  font-size: 18px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}

body {
  margin-top: 60px;
  margin-bottom: 60px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}
















