<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>



<div class="container" style="top: 0px;position: relative;">
  <div class="row">

    
    <?php echo Tag::form(array('upload/upload', 'class' => '', 'role' => 'form')) ?>

      <div class="col-md-6">

        <div class="form-group">
        <label for="exampleInputEmail1">Enter Video Title</label>
          <?php echo Tag::textField(array(
              'url',
              'size' => "30",
              'class' => "form-control",
              'required' => "required",
              'placeholder' => "Eg: https://www.youtube.com/watch?v=jLZFiiEFJdk",
          )) ?>
        </div>

        <div class="form-group">
        <label for="exampleInputEmail1">Video Title</label>
          <?php echo Tag::textField(array(
              'title',
              'size' => "30",
              'class' => "form-control",
              'required' => "required",
              'placeholder' => "Enter a title for the video",
          )) ?>
        </div>

        <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
          <?php echo Tag::textArea(array(
              'description',
              'size' => "30",
              'rows' => '6',
              'class' => "form-control",
              'required' => "required",
              'placeholder' => "Type description here...",
          )) ?>
        </div> 
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="exampleInputPassword1">Enter Your Name</label>
            <?php echo Tag::textField(array(
                'name',
                'size' => "30",
                'class' => "form-control",
                'required' => "required",
                'placeholder' => "Your Name",
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Enter Your Email</label>
            <?php echo Tag::emailField(array(
                'email',
                'size' => "30",
                'class' => "form-control",
                'required' => "required",
                'placeholder' => "Your Email",
            )) ?>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </div>

    </form>


  </div>
</div>

<style>
  label{color:#fff;}
</style>