<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
<h2 class="form-signin-heading">Upload Video</h2>
    <?php echo Tag::form(array('upload/upload', 'class' => '', 'role' => 'form')) ?>
        

        <div class="col-md-4">
            
                
            <div class="form-group">
              <label for="exampleInputEmail1">Enter Video Title</label>
              <?php echo Tag::textField(array(
                  'title',
                  'size' => "30",
                  'class' => "form-control",
                  'placeholder' => "Video Title",
              )) ?>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Enter Video URL</label>
              <?php echo Tag::textField(array(
                  'url',
                  'size' => "30",
                  'class' => "form-control",
                  'placeholder' => "Video URL",
              )) ?>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Enter Video Description</label>
              <?php echo Tag::textField(array(
                  'description',
                  'size' => "30",
                  'class' => "form-control",
                  'placeholder' => "Video Description",
              )) ?>
            </div>                
            
        </div>

        <div class="col-md-4">

          <div class="form-group">
            <label for="exampleInputPassword1">Enter Your Name</label>
            <?php echo Tag::textField(array(
                'name',
                'size' => "30",
                'class' => "form-control",
                'placeholder' => "Your Name",
            )) ?>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Enter Your Email</label>
            <?php echo Tag::emailField(array(
                'email',
                'size' => "30",
                'class' => "form-control",
                'placeholder' => "Your Email",
            )) ?>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>

        <div class="col-md-4"></div>
    </form>
</div>

