<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo("manages/index", "&larr; Go Back") ?>
    </li>
    <li class="pull-right">
        <?php echo Tag::linkTo(array("manages/new", "Add New Video")) ?>
    </li>
</ul>

<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th colspan="6">Action</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $videos){ ?>
        <tr>
            <td><?php echo $videos->id ?></td>
            <td><?php echo $videos->title ?></td>
            <td><?php echo $videos->url ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("manages/edit/".$videos->id, '<i class="fa fa-pencil"></i> Edit', "class" => "btn btn-default")) ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("manages/delete/".$videos->id, '<i class="fa fa-times"></i> Delete', "class" => "btn btn-default")) ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("manages/accept/".$videos->id, '<i class="fa fa-check"></i> Accept', "class" => "btn btn-default")) ?></td>
        </tr>
    <?php }
        } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="6" align="right">
                <div class="btn-group">
                    <?php echo Tag::linkTo(array("manages/search", '<i class="fa fa-fast-backward"></i> First', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("manages/search?page=".$page->before, '<i class="fa fa-step-backward"></i> Previous', "class" => "btn btn-default ")) ?>
                    <?php echo Tag::linkTo(array("manages/search?page=".$page->next, '<i class="fa fa-step-forward"></i> Next', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("manages/search?page=".$page->last, '<i class="fa fa-fast-forward"></i> Last', "class" => "btn btn-default")) ?>
                    <div class="btn-group">
                    <button type="button" class="btn btn-warning" disabled="disabled"><?php echo $page->current, "/", $page->total_pages ?></button>
                </div>
                </div>
            </td>
        </tr>
    <tbody>
</table>