<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>


<?php echo Tag::form(array("acceptvideos/search", "autocomplete" => "off")) ?>

<div class="row">    

    <div class="col-md-6">

        <h1><span class="label label-primary">Search Accepted videos</span></h1>
        <br>
                            
        <div class="form-group">
          <label for="categories_id">Video Category</label>
          <?php echo Tag::select(array("categories_id", $categories, "using" => array("id", "name"), "useDummy" => true)) ?>
        </div>
        <div class="form-group">
          <label for="name">Title</label>
          <?php echo Tag::textField(array("title", "size" => 24, "maxlength" => 70)) ?>
        </div> 
        <div class="form-group">
          <label for="name">Username</label>
          <?php echo Tag::textField(array("name", "size" => 24, "maxlength" => 70, "type" => "number")) ?>
        </div>  
        <div class="form-group">
          <label for="name">Active</label>
          <?php echo Tag::selectStatic(array("active", array('Y'=>'Y','N'=>'N',), "useDummy" => true)) ?>
        </div>        
        <div class="form-group">
          <label for="name"></label>
          <?php echo Tag::submitButton(array("Search", "class" => "btn btn-primary")) ?>
        </div>             
        
    </div>

    <!-- Add new videos -->

    <!-- <div class="col-md-6">
        <h1><span class="label label-success">Add New videos</span></h1>
        <br>
        <?php //echo Tag::linkTo(array("acceptvideos/new", "Add New Video", "class" => "btn btn-success")) ?>
    </div> -->

</div>

</form>
