<?php use Phalcon\Tag as Tag ?>

<?php echo Tag::form("manages/forword") ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo(array("manages/index", "&larr; Go Back")) ?>
    </li>
    
</ul>

<?php echo $this->getContent() ?>

<div class="center scaffold">
    <h2>Accept Video</h2>
    
    <input type="hidden" name="id" id="id" value="<?php echo $id ?>" />

    <table class="table table-bordered table-striped" align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label for="id">Name</label><?php echo Tag::textField(array("id", "size" => 24, "maxlength" => 200)) ?></td>
                <td><label for="title">Name</label><?php echo Tag::textField(array("title", "size" => 24, "maxlength" => 200)) ?></td>
                <td><label for="url">Name</label><?php echo Tag::textField(array("url", "size" => 24, "maxlength" => 200)) ?></td>
                
            </tr>
            <tr>
                <td colspan="3"><?php echo Tag::submitButton(array("Accept", "class" => "btn btn-success")) ?></td>
            </tr>
        </tbody>
    </table>

    </form>
</div>
