<?php use Phalcon\Tag as Tag ?>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <?php echo Tag::getTitle(); ?>


        <?php //echo Tag::stylesheetLink("css/demo.css"); ?>
        <?php //echo Tag::stylesheetLink("css/component.css"); ?>
        <?php echo Tag::stylesheetLink("font-awesome/css/font-awesome.min.css"); ?>
        <?php echo Tag::stylesheetLink("css/bootstrap.css"); ?>
        <?php //echo Tag::stylesheetLink("css/main.css"); ?>
        <?php echo Tag::stylesheetLink("css/backendstyle.css"); ?>

        <?php //echo Tag::stylesheetLink('bootstrap/css/bootstrap.css') ?>
        <?php echo Tag::stylesheetLink('bootstrap/css/bootstrap-responsive.css') ?>
        <?php echo Tag::stylesheetLink('css/style.css') ?>


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Video site">
        <meta name="author" content="Phalcon PHP">
    </head>
    <body>
        

        <?php echo $this->getContent() ?>


        <?php //echo Tag::javascriptInclude('js/jquery.min.js') ?>
        <?php //echo Tag::javascriptInclude('js/jquery.navgoco.js') ?>
        <?php //echo Tag::javascriptInclude('js/main.js') ?>
        <?php //echo Tag::javascriptInclude('js/bootstrap.js') ?>

        <?php echo Tag::javascriptInclude('js/jquery.min.js') ?>
        <?php echo Tag::javascriptInclude('bootstrap/js/bootstrap.js') ?>
        <?php echo Tag::javascriptInclude('js/utils.js') ?>

    </body>
</html>