<?php use Phalcon\Tag; ?>
<?php echo $this->getContent(); ?>
<!--**********************************************
                       Video Flow
************************************************-->  
    <div class="videolist" style="margin-top: 10%;position: absolute;right: 10%;">
      <ul style="list-style: none;">
        <li class="size"style="margin-bottom: 5px;"><img src="img/1.jpg"></li>
        <li class="size"style="margin-bottom: 5px;"><img src="img/2.jpg"></li>
        <li class="size"style="margin-bottom: 5px;"><img src="img/3.jpg"></li>
      </ul>
    </div>

    <div class="content" style="top: 50%;position: absolute;">
      
      <h1 style="color: white;">TOP TRENDING</h1>
      <h3 style="color: #e6614f;">Most Entertaining Stage Performance</h3>

    </div>
    <!--end of video flow-->

<?php 

echo Phalcon\Tag::linkTo("viewdb", "View Video Details!");

