<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo("categories/index", "&larr; Go Back") ?>
    </li>
    <!-- Create new category -->
    <!-- <li class="pull-right">
        <?php //echo Tag::linkTo(array("categories/new", "Create categories", "class" => "btn btn-primary")) ?>
    </li> -->
</ul>

<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $categories){ ?>
        <tr>
            <td><?php echo $categories->id ?></td>
            <td><?php echo $categories->name ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("categories/edit/".$categories->id, '<i class="fa fa-pencil"></i> Edit', "class" => "btn btn-default")) ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("categories/delete/".$categories->id, '<i class="fa fa-times"></i> Delete', "class" => "btn btn-default")) ?></td>
        </tr>
    <?php }
        } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="4" align="right">
                <div class="btn-group">
                    <?php echo Tag::linkTo(array("categories/search", '<i class="fa fa-fast-backward"></i> Firstt', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("categories/search?page=".$page->before, '<i class="fa fa-step-backward"></i>Previous', "class" => "btn btn-default ")) ?>
                    <?php echo Tag::linkTo(array("categories/search?page=".$page->next, '<i class="fa fa-step-forward"></i> Next', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("categories/search?page=".$page->last, '<i class="fa fa-fast-forward"></i> Last', "class" => "btn btn-default")) ?>
                    <div class="btn-group">
                    <button type="button" class="btn btn-warning" disabled="disabled"><?php echo $page->current, "/", $page->total_pages ?></button>
                </div>
            </td>
        </tr>
    <tbody>
</table>