<?php use Phalcon\Tag; ?>
<?php echo $this->getContent(); ?>

<?php 
  //  $robots = Robots::find();
  //  $videos = Videos::find();
    $basics = Basics::find();
?>
    
    

                
    <table border="1px">
        <tr>
            <td><strong>Video Title</strong></td>
            <td><strong>Video URL</strong></td>
            <td><strong>Description</strong></td>
        </tr>
        <?php
            foreach ($basics as $basic_data) {
        ?>
        <tr>
            <td><?php echo $basic_data->title; ?></td>
            <td><?php echo $basic_data->url; ?></td>
            <td><?php echo $basic_data->description; ?></td>
        </tr>
        <?php
        }
        ?>
    </table>
               
                
                
