<?php use Phalcon\Tag; ?>

<h2>Add users using this form</h2>

<div class="row">
	<div class="col-md-4">
		<form role="form" action="/phalcon/mongo/signup/register" method="post">
			 <div class="form-group">
			    <label for="name">Name</label>
			    <input type="text" class="form-control"placeholder="Enter Name" name="name" />
			 </div>

			 <div class="form-group">
			    <label for="age">Age</label>
			    <input type="text" class="form-control"placeholder="Enter Age" name="age" />
			</div>

			 <div class="form-group">
			    <input type="submit" class="btn btn-default" value="Register" />
			 </div>

		</form>
	</div>
</div>