<?php use Phalcon\Tag; ?>
<!DOCTYPE html>
<html class="full" lang="en">
<head>
    <meta charset="utf-8">
    <title>Video Website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <?php echo $this->tag->stylesheetLink("css/demo.css"); ?>
    <?php echo $this->tag->stylesheetLink("css/component.css"); ?>
    <?php echo $this->tag->stylesheetLink("font-awesome/css/font-awesome.min.css"); ?>
    <?php echo $this->tag->stylesheetLink("css/bootstrap.css"); ?>
    <?php echo $this->tag->stylesheetLink("css/main.css"); ?>

</head>

        
<body style="background-color: transparent;">
    
    <!--**********************************************
            Side Menu  Bar
    ************************************************-->  
    <nav>
        <ul class="list-unstyled main-menu">
          <li class="text-right"><a href="#" id="nav-close">X</a></li>
          <li><a href="#">Menu One <span class="icon"></span></a></li>
          <li><a href="#">Menu Two <span class="icon"></span></a></li>
          <li><a href="#">Menu Three <span class="icon"></span></a></li>
          <li><a href="#">Dropdown</a>
            <ul class="list-unstyled">
                <li class="sub-nav"><a href="#">Sub Menu One <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Two <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Three <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Four <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Five <span class="icon"></span></a></li>
            </ul>
          </li>
          <li><a href="#">Menu Four <span class="icon"></span></a></li>
          <li><a href="#">Menu Five <span class="icon"></span></a></li>
        </ul>
    </nav>
    
    <!--**********************************************
            Main navigation Bar
    ************************************************-->     
    <div class="navbar navbar-inverse navbar-fixed-top">           
        <form action="upload">
            <div class="progress-button">
                <button style="position: absolute;right: 16%;margin-right: 5px;" type="submit"><span>Submit</span></button>
            </div>
        </form>
          
        <div class="social" style="position: absolute; top: 10px;right: 8%;margin-right: 5px;">
        <a class="facebook" href="/phalcon/video1/viewdb" title="Facebook">
        <img src="img/1.png" style="height: 40px;height: 40px;"></a></div>
        

        <div class="social" style="position: absolute; top: 10px;right: 12%;margin-right: 5px;">
        <a class="twitter" href="/phalcon/video1/viewdb" title="Twitter">
        <img src="img/2.png" style="height: 40px;height: 40px;"></a></div>
          
         
        <!--Include your brand here-->      
        <div class="navbar-header pull-right">
          <a id="nav-expander" class="nav-expander fixed">
            <i class="fa fa-align-justify"></i>
          </a>
        </div>
        
        <div id="era">
          <a class="nav-right_more" style="text-decoration: none;">
            MORE &nbsp;
          </a>
        </div>
    </div>

    <?php echo $this->getContent() ?>
    
    <!--**********************************************
                       Footer here
    ************************************************--> 
    <footer>
        <img src="img/wearedes.png" style="right: 0px; position: absolute;">
    </footer>

   <!-- Javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <?php
    echo $this->tag->javascriptInclude("js/jquery.min.js");
    echo $this->tag->javascriptInclude("js/jquery.navgoco.js");
    echo $this->tag->javascriptInclude("js/main.js");
    echo $this->tag->javascriptInclude("js/bootstrap.js");

    ?>
    

    <script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>

    
    <script>
    $(document).ready(function(){                       
       
       //Navigation Menu Slider
        $('#nav-expander').on('click',function(e){
          e.preventDefault();
          $('body').toggleClass('nav-expanded');
        });
        $('#nav-close').on('click',function(e){
          e.preventDefault();
          $('body').removeClass('nav-expanded');
        });
        
        
        // Initialize navgoco with default options
        $(".main-menu").navgoco({
            caret: '<span class="caret"></span>',
            accordion: false,
            openClass: 'open',
            save: true,
            cookie: {
                name: 'navgoco',
                expires: false,
                path: '/'
            },
            slide: {
                duration: 300,
                easing: 'swing'
            }
        });
  
          
      });
      </script>


</body> 
</html>


     

