<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <h1><span class="label label-primary">Accept or Reject users uploaded videos from here...</span></h1>
    <br>  
    

    <table class="table">
      <tbody>
        <tr>
          <td>
            <?php echo Tag::linkTo(array("tempdata/search", "See All Uploaded Videos", "class" => "btn btn-primary")) ?>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
          <?php echo Tag::linkTo(array("#", "See Last Uploaded Videos", "class" => "btn btn-success")) ?>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
        <tr>
          <td>
          <?php echo Tag::linkTo(array("#", "See Rejected Videos", "class" => "btn btn-danger")) ?>
		    </form>
          </td>
          <td class="type-info">see all the user uploaded videos...</td>
        </tr>
      </tbody>
    </table>
    
</div>

