<h1>Current Users And Their Age...</h1><br><br>

<?php 

	$robots = Robots::find();
	// Prints "Bender"
	//echo $robot->name;
?>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Name Age</div>
			<table class="table">
				<?php
					foreach ($robots as $robot) {
				?>

				<tr>
					<td><?php echo $robot->name; ?></td>
					<td><?php echo $robot->age; ?></td>
				</tr>
				<?php
				}
				?>
			</table>
		</div>
	</div>
</div>
