<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<ul class="pager">
    <li class="previous pull-left">
        <?php echo Tag::linkTo("acceptvideos/index", "&larr; Go Back") ?>
    </li>
    <li class="pull-right">
        <?php //echo Tag::linkTo(array("acceptvideos/new", "Create acceptvideos", "class" => "btn btn-primary")) ?>
    </li>
</ul>

<table class="table table-bordered table-striped" align="center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Image</th>
            <th>Title</th>
            <th>Description</th>
            <th>Active</th>
            <th colspan="2">Action</th>
        </tr>
    </thead>
    <tbody>
    <?php
        if(isset($page->items)){
            foreach($page->items as $acceptvideos){ ?>
        <tr>
            <td><?php echo $acceptvideos->id ?></td>
            <td><?php echo $acceptvideos->getCategories()->name ?></td>
            <td><img src='<?php echo $acceptvideos->thumbnail ?>' alt='' width=100px;></td>
            <td><?php echo $acceptvideos->title ?></td>
            <td><?php echo $acceptvideos->description ?></td>
            <td><?php echo $acceptvideos->active ?></td>
            <td width="12%"><?php echo Tag::linkTo(array("acceptvideos/edit/".$acceptvideos->id, '<i class="fa fa-pencil"></i> Edit', "class" => "btn btn-default")) ?></td>
            <td>
                <?php 
                    if($acceptvideos->active=='Y'){
                        echo Tag::linkTo(array("acceptvideos/unpublish/".$acceptvideos->id, '<i class="fa fa-times-circle-o"></i> Unpublish', "class" => "btn btn-danger"));
                    }else{
                        echo Tag::linkTo(array("acceptvideos/publish/".$acceptvideos->id, '<i class="fa fa-check-circle-o"></i> Publish', "class" => "btn btn-success"));
                    }
                ?>
            </td>
            <!-- Delete Action -->
            <!-- <td width="12%"><?php //echo Tag::linkTo(array("acceptvideos/delete/".$acceptvideos->id, '<i class="fa fa-times"></i> Delete', "class" => "btn btn-default")) ?></td> -->
        </tr>
    <?php }
        } ?>
    </tbody>
    <tbody>
        <tr>
            <td colspan="7" align="right">
                <div class="btn-group">
                    <?php echo Tag::linkTo(array("acceptvideos/search", '<i class="fa fa-fast-backward"></i> First', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("acceptvideos/search?page=".$page->before, '<i class="fa fa-step-backward"></i> Previous', "class" => "btn btn-default ")) ?>
                    <?php echo Tag::linkTo(array("acceptvideos/search?page=".$page->next, '<i class="fa fa-step-forward"></i> Next', "class" => "btn btn-default")) ?>
                    <?php echo Tag::linkTo(array("acceptvideos/search?page=".$page->last, '<i class="fa fa-fast-forward"></i> Last', "class" => "btn btn-default")) ?>
                    <div class="btn-group">
                    <button type="button" class="btn btn-warning" disabled="disabled"><?php echo $page->current, "/", $page->total_pages ?></button>
                </div>
            </td>
        </tr>
    <tbody>
</table>

