<?php use Phalcon\Tag; ?>
<?php echo $this->getContent(); ?>

<?php 
    $basics = Basics::find();
?>

<div style="margin-left:200px;">
    <form action="/phalcon/video2/upload/uploadvideo"method="post">
        <header>Video Submit Form</header>
        
        <fieldset>                  

            <input type="text" placeholder="Video Title" name="title" required><br>

            <input type="text" placeholder="Video URL" name="url" required><br>

            <textarea rows="4" name="description" placeholder="Small description" required></textarea>

            <button type="submit">Submit</button>

        </fieldset>

    </form>
</div>


