<?php use Phalcon\Tag as Tag ?>

<?php echo $this->getContent() ?>

<div class="row">
    <h1><span class="label label-warning">Accept or Reject users uploaded videos from here...</span></h1>
    <br>
    <?php echo Tag::form(array("tempdata/search", "autocomplete" => "off")) ?>
        <div class="btn-group">
            <button type="submit" class="btn btn-warning btn-lg">See All Temp Videos</button>
        </div>
    </form>
    
</div>

