<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Video Website</a>
        </div>

        <?php echo $this->elements->getMenu() ?>
    </div>
</div>

<div class="container">
    <?php echo $this->getContent() ?>
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here. &copy; Company 2014</p>
  </div>
</div>

